<ion-header>
  <ion-toolbar>
    <ion-title  style="text-align: center;">Lupa Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="text-align: center;">
        <ion-icon name="settings" style="font-size:500%"></ion-icon>   
      </div>
      <h5>Masukkan Username dan eMail anda, agar kami dapat mengirim password anda</h5>
      <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">eMail</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <div style="text-align: center;">
            <ion-button color="dark">OK</ion-button>
            </div>

</ion-content>
