<ion-header>
  <ion-toolbar color="secondary">
      <div style="text-align: center; padding-top: 80px; padding-bottom: 15px;">
    <ion-title>LilBazzar</ion-title>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content color="secondary">
  <ion-list>
<div>
    <ion-item style="text-align: center; padding-top: 10px; padding-bottom: 10px;">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </div>
    <ion-item style="text-align: center; padding-top: 10px; padding-bottom: 10px;">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>


  </ion-list>
  <div style="text-align: center;">
  <ion-button color="dark">Login</ion-button>
  </div>
</ion-content>
