<ion-header>
  <ion-toolbar>
  <div style="text-align: center; padding-top: 60px; padding-bottom: 20px;">
    <ion-title style="font-size: larger;">SIGN UP</ion-title>
	</div>
  </ion-toolbar>
</ion-header>
  

<ion-content>
    
    <ion-list>

  <ion-item>
    <ion-label position="floating">Nama Pengguna</ion-label>
    <ion-input type="Nama"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">e-Mail</ion-label>
    <ion-input type="e-Mail"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Kata Sandi</ion-label>
    <ion-input type="Kata Sandi"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Konfirmasi Kata Sandi</ion-label>
    <ion-input type="Konfrmasi Kata Sandi"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Nomor HP</ion-label>
    <ion-input type="Nomor"></ion-input>
  </ion-item>
  
</ion-list>
<div style="text-align: center"><ion-button Default>SIGN UP</ion-button></div>
</ion-content>
