<ion-header>
    <ion-toolbar>
      <ion-title>
        <br>
        <div style="text-align: center;">
        PROFILE
      </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <div style="text-align: center;">
          <ion-icon name="contact" style="font-size:700%"></ion-icon>   
        </div>
        <h2 style="text-align: center;">Bransyah Tan</h2>
        <h2 style="text-align: center;">082367698924</h2>
        <h2 style="text-align: center;">Sate Kelinci Arabia</h2>
        <h2 style="text-align: center;">Peunayong</h2>
        <br>
        <br>
        <div style="text-align: right;">
            <ion-button (click)="editProfil()" color="dark">Edit Profil</ion-button>
            </div>
  </ion-content>