<ion-header>
  <ion-toolbar>
    <ion-title>edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>

    <ion-item>
      <ion-input type="text" placeholder="Nama"></ion-input>
    </ion-item>
<br>
    <ion-item>
        <ion-input type="number" placeholder="Nomor HP"></ion-input>
      </ion-item>
<br>
      <ion-item>
          <ion-input type="text" placeholder="Nama Dagangan"></ion-input>
        </ion-item>
<br>
        <ion-item>
          <ion-input type="text" placeholder="Alamat"></ion-input>
         </ion-item>
<br>
  </ion-list>

  <div style="text-align: center;">
      <ion-button color="dark">SIMPAN</ion-button>
      </div>
      <div style="text-align: center;">
          <ion-button color="dark">BATAL</ion-button>
          </div>
</ion-content>
